<html>
    <head>
        
        <title>all articles views</title>
    </head>
    <body>
        
        <h1>all articles views</h1>
        <% console.log (request.article)%
        <h2>  Title: <%request.article.title%></h2>
        </p>  <% request.article.content % </p>
    </body>
    
    
    
    
    
    
</html>