 <html>
    <head>
        
        <title>all products created</title>
    </head>
    <body>
        
        <h1>all products created</h1>
        <div>Name:
              <input type="text" id="name"/>
        </div>
      
       <div>Description: 
            <textarea id="description"></textarea>
       </div<br>>
       <div>Price:
              <input type="number" id="price"/>
        </div>
         <div>Quantity:
              <input type="number" id="quantity"/>
        </div>
          </div>
         <div id="error"> 
        </div>
        <button id="submit">Submit</button>
        
        <script src="/lib/jquery/dist/jquery.min.js"></script>
        <script>
        var product={name: "",description: ""};
        $("#name").change(function()
        {
        product.name=$("#name").val();
        
        });
        $("#description").change(function()
        {
        product.description=$("#description").val();
        
        });
        $("#price").change(function()
        {
        product.price=$("#price").val();
        
        });
         $("#quantity").change(function()
        {
        product. quantity=$("#quantity").val();
        
        });
        $("#submit").click(function(){
            console.log("test");
        $.ajax({
        method: "POST",
        url: "/api/products",data:product},
        
        ).done(function(response){
        
        console.log(response);
         window.location.replace("/products/"+response._id);
        
        }).fail(function(response){
        
          $("#error").text(JSON.parse(response.responseText).message);
        console.log(JSON.parse(response.responseText).message);
        
        });
        });
        </script>
        
    </body>
    
    
    
    
    
    
</html>